<a href="https://colab.research.google.com/github/SanjanaTikare117/Basic-Python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range (0,6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range (65,96):
  print(i)

65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95

In [ ]:
for i in range (65,91,1):
  print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
for i in range(1,20,+2):
 print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
for i in range (1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,0,-1):
  print(i,end= " ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
for i in range(1,10):
  print(i*i)

1
4
9
16
25
36
49
64
81

In [ ]:
for i in range(0,10,+2):
  print( i)

0
2
4
6
8

In [ ]:
for i in range(0,10,2):
  sum=i+i
  print(sum)

0
4
8
12
16

In [ ]:
sum=0
for i in range(0,10,+2):
  if(i%2==0):
   print(i)
  sum=sum+i
print("sum of even numbers from 0-10 is ",sum)

0
2
4
6
8
sum of even numbers from 0-10 is  20

In [ ]:
sum=0
for i in range(0,10):
  if(i%2==0):
   print(i+1)
   sum=sum+i+1
print("sum of odd numbers from 0-10 is ",sum)

1
3
5
7
9
sum of odd numbers from 0-10 is  25

In [ ]:
sum=0
for i in range(1,20):
  if(i%2!=0) &(i%3!=0) &(i%5!=0):
   print(i)
   sum=sum+i
print("numbers which are not divisible by 2,3,5",sum)

1
7
11
13
17
19
numbers which are not divisible by 2,3,5 68